---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {

    const allPosts = await Astro.glob('../posts/*.md');
    // console.log(allPosts[1].frontmatter.tags);
    const uniqueTags = [...new Set(allPosts.map((post) =>
        post.frontmatter.tags).flat())];

    // console.log(uniqueTags[0]);

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
        // console.log(filteredPosts[0].frontmatter.title);
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };

    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
        { console.log(posts) }

        { posts.map((post) => <BlogPost url={post.frontmatter.url} title={post.frontmatter.title} />)}

    </ul>
</BaseLayout>